body {
    margin: auto 0px;
    background: rgb(236, 223, 223);
}



/* navigation bar */
.navigation {
    display: flex;
    align-items: center;

    border: thin solid black;

    /* gap: 20px; */
    padding: 0px;
    margin: 0px;

    /* position: fixed; 
    top: 0;
    width: 100%;
  */
}


.nav_element {
    
    padding: 20px;
    margin: 0px;
}






/* presentation div */
.presentation {
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-style: italic;


    /* animate the presentation text */
    animation-duration: 2s;
    animation-name: slide-in; 
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}



/* add element div */
/* .add_element {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

.add_element {
   
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#new_item {
    width: 10vh;
    height: 10vh;

    border-radius: 20px;
    
}




/* class for delete items on the list. this class was created  and attributed in the script.js file */
.delete_button {
    border-radius: 20px;
    margin: 20px;

}




/* add button in html file */
#add_item_button {
    border-radius: 10px;
    background-color: #B5D4BA;
    
}











/* englobe list/grid... element with every todo elements */
/* .box_element {
    border: thin solid black;
} */


#todo_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px;
    padding: 10px;
    list-style: none;    

}



.list_item {
    border: thin solid black;
    border-radius: 20px;
    margin: 0px;
    padding: 70px;

    background: linear-gradient(to right, rgb(232, 181, 181), rgb(197, 186, 186));
    

    
}

.list_item:hover {
    transition: 1.2s;
    transform: scale(1.1);
}





/* footer  */
#footer {
    text-align: center;
}