body {
    margin: auto 0px;
}



/* navigation bar */
.navigation {
    display: flex;
    align-items: center;

    border: thin solid black;

    /* gap: 20px; */
    padding: 0px;
    margin: 0px 
}


.nav_element {
    
    padding: 20px;
    margin: 0px;
}






/* presentation div */
.presentation {
 
    height: 30vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}




/* add element div */
.add_element {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




/* class for delete items on the list. this class was created  and attributed in the script.js file */
.delete_button {
    border-radius: 20px;
    margin: 20px;

}












/* englobe list/grid... element with every todo elements */
/* .box_element {
    border: thin solid black;
} */


#todo_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 10px;
    list-style: none;

}

.list_item {
    border: thin solid black;
    border-radius: 20px;
    margin: 0px;
    padding: 150px;
}




